server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3308/neu_air?serverTimezone=GMT%2B8&characterEncoding=UTF-8&useSSL=false
    username: root
    password: abc123
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      table-prefix: t_
      id-type: assign_id
      logic-delete-value: 1
      logic-not-delete-value: 0
sa-token:
  token-name: satoken
  timeout: 2592000
  is-concurrent: true
  is-share: true
  token-style: uuid
  is-log: true
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  pageSizeZero: false
  params: count=countSql
